//Main colors
$background: #2d132c;
$text: #F8E5EE;
$text-muted: rgba(248, 248, 248, 0.452);
$red: rgb(218, 71, 71);
$orange: #f1873f;
$yellow: rgb(245, 216, 90);
$green: #4ad14c;
$blue: rgb(75, 83, 199);
$violet: rgb(157, 71, 207);
$white: #FFFFFF;
$black: #000;
$primary: #ee4540;
$secondary: #c72c41;
$tertiary: #801336;

//Navbar
$nav-background-color: rgba($background, 0); 
$nav-background: none;//linear-gradient(to bottom right, $background, lighten($background, 20));
$nav-text-active: $primary;
$nav-text-inactive: $text;

//Footer
$footer-text: $text-muted;

//Home
$home-overlay: rgba($black, 0.5);
$home-gradient: $background;