@import "colors.scss";
.navbar {
    background-color: $nav-background-color !important;
    background-image: $nav-background !important;
    color: $nav-text-active;
    z-index: 100;
    border-bottom: dotted medium darken($nav-background-color, 20);
} 
.navbar-brand {
    justify-self: start;
}
.navbar-brand img {
    filter: invert(0);
    height: 50px !important;
}
.nav-link {
    color: $nav-text-inactive !important;
}
.nav-item {
    margin-left: 10px;
    font-weight: 300;
}
.nav-item.active {
    border-radius: 10px;
    background-color: $primary;
}
.nav-item.active .nav-link {
    font-weight: 500;
    color: lighten($nav-text-inactive, 20) !important;
}
a.nav-link:hover {
    color: $nav-text-active !important;
}

@media (max-width: 1199px) {
    .nav-link {
        font-size: 1.5em;
    }
}
li.nav-item.invisible {
    width: 0px;
    height: 0px;
    padding: 0px;
    margin: 0px;
}